.img {
  background-size: cover;
  flex-grow: 1;
  min-width: 140px;
  width: 20%;
}

.info {
  flex-grow: 3;
  padding: 3vmin;
  width: 80%;
  font-size: 18px;
  text-align: center;
}

.name {
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 80vw !important;
  }
}

.container {
  background-color: #fadadd;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  cursor: pointer;
  /*height: 4em;*/
  margin: 2vmin;
  padding: 1vmin; 
  min-width: 12em;
  /*width: 100%;*/
}
