<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
	<div class="sandbox sandbox-correct-pronounciation">
	  <h1 class="heading heading-correct-pronounciation mat-display-3">
	    The <em>Valentine Revolution</em> An IIT Delhi Alumni Production
	  </h1>
	  <h4>Powered by</h4>
	  <br>
	  <img src="/assets/logo.png">
	  	<h2>
		  	Feel shy confessing to your crush? 
		  	<br>
		  	Now No more...
		  	<br>
			Anonymously like them on Playmates, if they anonymously like you too, Playmate!!!
	  	</h2>
	  	<div>
		  	<h3 class="reg">Playmate Registrations <p id="regcount"></p></h3>
		</div>
	  	<div>
		  	<h3>Matches out on <br> <img class="little-heart" src="favicon.ico">  Valentine's Day 8pm <img class="little-heart" src="favicon.ico">  <p id="demo"></p></h3>
		</div>
	</div>
</div>

<router-outlet></router-outlet>
