<mat-card-title>
  How To Use
</mat-card-title>
<mat-card-actions>
  <a mat-button routerLink="/login"> LOGIN </a>
</mat-card-actions>
<mat-card-content>
  <p>
    Playmates lets you find mutual interests among people on campus. And it is simple to use!
  </p>
  <p>
    The platform is ours, but the love-algorithm is yours! Join the Sexual Revolution, and enjoy!
  </p>
  <img mat-card-image src="/assets/step1.png" alt="Puppy Love" style="margin-bottom: -3em; margin-top: -1em">
  <img mat-card-image src="/assets/step2.png" alt="Puppy Love">
  <img mat-card-image src="/assets/step3.png" alt="Puppy Love">
  <img mat-card-image src="/assets/step4.png" alt="Puppy Love" style="margin-bottom: -2em; margin-top: -1em">

  <br>
  <hr>
  <br>
  <h3 matHeader>Detailed Steps</h3>
  <ul class="mat-subheading-1">
    <!-- <li> <a routerLink="/signup"> Create a new account </a>, through an email confirmation, and then setting up a password.</li> -->
    <li> Create a new account, through an phone confirmation, and then setting up a password.</li>
    <li> Make sure you do not forget the password. If lost, your data cannot be recovered.</li>
    <li> We do not send your plain password to the server even for login, so be assured :)</li>
    <li> Log in to your account.</li>
    <li> Select up to 5 of your interests.</li>
    <li> These choices will <strong>NOT</strong> be visible to <strong>anyone</strong> else.</li>
    <li> Lock and submit your choices! Remember, you cannot change your choices after this.</li>
    <li> Your choices will receive an anonymous tip via their number urging them to add their own.</li>
    <li> Check back regularly to receive hearts signifying how many people like you :)</li>
    <li> Open the platform at midnight on 14th of February to know if one or more of your interests likes you back :)</li>
    <li> Remember, if your interest does not like you back, he/she will NEVER know that you like them. </li>
  </ul>
  <div style="text-align: center;"> Good Luck! </div>
</mat-card-content>
<mat-card-actions>
  <a mat-button routerLink="/login"> LOGIN </a>
</mat-card-actions>
