/* You can add global styles to this file, and also import other style files */

body {
  background-image: url("/assets/wallpaper2.jpeg");
  background-repeat: repeat-y;
  background-size: cover;
  height: 200px;
  /*background-color: #fadadd;*/
  /*background-color: #923650;*/
}