<mat-card-title>
  Verify Phone Number
</mat-card-title>
<mat-card-content>
  <div class="mat-caption">
    Note) This number can be used by others to send you a like. It can't be changed later.
  </div>
  <form [formGroup]="otpForm" (ngSubmit)="onOTP()">
    <mat-form-field>
      <input
        matInput
        formControlName="phone"
        placeholder="Phone Number">
    </mat-form-field>

    <button mat-button> Send OTP </button>
  </form>
</mat-card-content>

<mat-card-title>
  Signup
</mat-card-title>
<mat-card-content>
  <div class="mat-caption">
    Note) This email can be used by others to send you a like. It can't be changed later.
  </div>
  <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
    <mat-form-field>
      <input
        matInput
        formControlName="email"
        placeholder="College Email Id">
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        formControlName="name"
        placeholder="Full Name">
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        formControlName="gender"
        placeholder="Gender (M/F)">
    </mat-form-field>

    <mat-form-field>
      <input
        type="password"
        matInput
        formControlName="password"
        placeholder="Password">
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        formControlName="authCode"
        placeholder="Auth Code (OTP)">
    </mat-form-field>

    <button mat-button> Signup </button>
  </form>
</mat-card-content>
<mat-card-actions>
  <a mat-button routerLink="/login"> Back </a>
</mat-card-actions>

